# =========================
# .NET / Blazor
# =========================
**/bin/
**/obj/

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Build configurations
# =========================
Debug/
Release/

# =========================
# Logs & temp
# =========================
*.log
*.tmp
